<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!--<add key="PathFileExe" value="C:\Windows\System32\calc.exe"/>-->
		<add key="PathFileExe" value="E:\Program Files\Suprema ID\BioAPI\Bin\AnyCPU\BioAPI_SupremaTest.exe"/>
		<!--<add key="PathFileExe" value="C:\ProgramData\Microsoft\Windows\Start Menu\Programs\Notepad++.lnk"/>-->
		<add key="PathCredential" value="D:\DuAn\DUAN-AutoClicker\Test\JsonGoogleSheet\credentials-MyAccount.json"/>
		<add key="SpreadsheetId" value="1uSdfTGwsvY3xA3W4Fliiq1JFWOlA75RbU76ekFtxVDY"/>
		<add key="SheetName" value="Trang tính1"/>
	</appSettings>
</configuration>