<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="SoftwareUsername" value="super"/>
		<add key="SoftwarePassword" value="Biogen1@"/>
		<!--<add key="PathFileExe" value="E:\Program Files\Suprema ID\BioAPI\Bin\AnyCPU\BioAPI_SupremaTest.exe"/>-->
		<add key="PathFileExe" value="C:\Users\Public\Desktop\PACS.lnk"/>
		<!--<add key="PathFileExe" value="C:\ProgramData\Microsoft\Windows\Start Menu\Programs\Notepad++.lnk"/>-->
		<add key="HeaderExcel" value="Mã số tại VTCC;Material type;Tên chi;Tên khoa học;Mã số tại bảo tàng khác;Creation date;Hình thức ký gửi;Địa điểm thu mẫu;Nguồn phân lập;Thời gian phân lập;Ngày lưu giữ lạnh sâu;Môi trường;Nhiệt độ sinh trưởng;Thời gian nuôi cấy;pH;Nhu cầu oxy;Hình thái khuẩn lạc;Hình thái tế bào;Trình tự rDNA;Trình tự rDNA đầy đủ;Trình tự gen khác;Trình tự đầy đủ khác;"/>
		<add key="PathFileExcel" value="D:\CaNhan\DuAn\DUAN-AutoClicker\Test\Excels\File1.xlsx"/>
		<add key="SpreadsheetId" value="1uSdfTGwsvY3xA3W4Fliiq1JFWOlA75RbU76ekFtxVDY"/>
		<add key="SheetName" value="Trang tính1"/>
		<add key="PathCredential" value="D:\CaNhan\DuAn\DUAN-AutoClicker\Test\JsonGoogleSheet\credentials-MyAccount.json"/>
		<add key="GoogleUsername" value="appautoclick@gmail.com"/>
		<add key="GooglePassword" value="appautoclick123"/>
	</appSettings>
</configuration>