<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="ProgramName" value="pacs.main.exe"/>
		<add key="SoftwareUsername" value="super"/>
		<add key="SoftwarePassword" value="Biogen1@"/>
		<!--<add key="PathFileExe" value="E:\Program Files\Suprema ID\BioAPI\Bin\AnyCPU\BioAPI_SupremaTest.exe"/>-->
		<!--<add key="PathFileExe" value="C:\Users\Public\Desktop\PACS.lnk"/>-->
		<add key="PathFileExe" value="C:\ProgramData\Microsoft\Windows\Start Menu\Programs\Notepad++.lnk"/>
		<add key="PathFileExcel" value="D:\FileExcel"/>
		<add key="FileNameExcel" value="Onlinecatalogue"/>
		<add key="SpreadsheetId" value="1yg12ni4wC5X6pT7Ngc-4a5NlgCg66dCNgcGIy9ZG06M"/>
		<add key="SheetName" value="Sheet"/>
		<add key="PathCredential" value="D:\AutoClicker\Test\JsonGoogleSheet\credentials-MyAccount.json"/>
		<!--<add key="PathCredential" value="D:\CaNhan\DuAn\DUAN-AutoClicker\Test\JsonGoogleSheet\credentials-MyAccount.json"/>-->
		<add key="GoogleUsername" value="appautoclick@gmail.com"/>
		<add key="GooglePassword" value="appautoclick123"/>
	</appSettings>
</configuration>